<!-- bandcamp-mini-embed __EMBED_ORIGIN__ -->
<link rel="stylesheet" href="__EMBED_ORIGIN__/embed/bundle.css" />
<div class="bandcamp-mini-embed" style="min-height: 210px"></div>
<script
  data-album-id="{{albumId}}"
  data-fallback-text="{{title}}"
  data-fallback-url="{{url}}"
  src="__EMBED_ORIGIN__/embed/bundle.js"
></script>
<noscript><a href="{{url}}">Listen to {{title}} on Bandcamp</a></noscript>