<rss version="2.0">
<channel>
<title>{{title}}</title>
<link>{{link}}</link>
<description>{{description}}</description>
{{#each articles}}
<item>
    <title>{{title}}</title>
    <link>{{url}}</link>
    <description>{{description}}</description>
    <guid>{{url}}</guid>
</item>
{{/each}}
</channel>
</rss>